<div th:fragment="book-search">
    <div class="search-container">
        <div class="text-center">
            <a href="/home">
                <img alt="Quiet Chatter Icon" src="/images/quiet-chatter-icon2.png"
                     style="width: 200px; height: 200px; margin-bottom: 1rem;">
            </a>
        </div>
        <form action="/books/search" id="searchForm" method="GET">
            <div class="input-group mb-3">
                <input class="form-control" id="keyword" name="keyword" placeholder="검색어를 입력하세요" required type="text">
                <button class="btn btn-primary" type="submit">검색</button>
            </div>
        </form>
    </div>
</div>
